<div class="page-header">
  <h1>
    Private parking spots
    <a href="/private_parking_spots/new" class="btn btn-lg btn-success">New Private parking spot</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Actions</th>
      </tr>

      <% @private_parking_spots.each do |private_parking_spot| %>
      <tr>
        <td>
          <a href="/private_parking_spots/<%= private_parking_spot.id %>" class="btn btn-primary">Show</a>
          <a href="/private_parking_spots/<%= private_parking_spot.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_private_parking_spot/<%= private_parking_spot.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @private_parking_spots, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
