<div class="page-header">
  <h3>Private Parking Spot #<%= @private_parking_spot.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/private_parking_spots" class="btn btn-primary">
        Back
      </a>
      <a href="/private_parking_spots/<%= @private_parking_spot.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_private_parking_spot/<%= @private_parking_spot.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
